main {

    // **SECTION LOCATION-CITY**
    .location-city {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $background_footer;
        height: 50px;
        background-color: $lien_footer;

        .fa-solid.fa-location-dot {
            margin-right: 10px;
        }
    }

    // **SECTION EXPLORE**
    .explore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $black;
        padding: 45px 0px;
        background-color: $background_grey;
        text-align: center;

        .explore-title {
            font-size: 2.5rem;
            font-weight: 700;
        }

        .explore-txt {
            margin: 20px;
            font-size: 1.125rem;
            margin-bottom: 40px;
        }
    }

    // **SECTION OPERATION**
    .operation {
        padding: 50px 180px 50px 180px;

        .operation-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .operation-steps {
                margin-top : 20px;

                .operation-step {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .operation-number {
                        border-radius: 50%;
                        padding: 0 5px;
                        padding: 5px 8px 5px 8px;
                        color: $white;
                        background-color: $purple;
                        text-align: center;
                        position: absolute;
                        transform: translateX(-50%);
                        transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
                    }

                    .operation-detail {
                        display: flex;
                        flex-direction: row;
                        border-radius: 15px;
                        background: $background_grey;
                        width: 330px;
                        height: 65px;
                        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
                        align-items: center;
                        transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.3s ease;

                        i {
                            color: #7E7E7E;
                            padding: 0 30px;
                        }

                        p {
                            font-weight: bold;
                        }
                    }

                    .operation-detail:hover {
                        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
                        background-color: $purple_light;
                        cursor: pointer;

                        i {
                            color: $purple;
                        }
                    }
                }
            }
        }
    }

    // **SECTION RESTAURANT**
    .restaurants {
        background: $lien_footer;
        padding: 30px 180px 30px 180px;


        .restaurant-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 28px;
            gap: 50px 100px;

            .restaurant-tag {
                align-items: center;

                .restaurant-tag-img img {
                    border-radius: 20px 20px 0 0;
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }

                .restaurant-tag-img>img {
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                }

                .restaurant-tag-img-new {
                    color: $green;
                    background-color: $green_light;
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    padding: .3rem .8rem;
                }
            }

            .restaurant-block {
                display: flex;
                justify-content: space-between;
                gap: 4px;
                border-radius: 0 0 20px 20px;
                background: #FFF;
                padding: 5px;
                box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
                flex-grow: 1;

                .restaurant-block-infos {
                    margin: 5px 10px;
                    color: $black;

                    .h3-title {
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                }

                .like {
                    margin-top: -15px;
                }
            }
        }
    }
}